html, body {
    margin: 0;
    padding: 0;
}

.main{
    width: 550px;
    height: 550px;
    background-color: #1f2937;
}

.options{
    display: flex;
    padding: 25px 14px;;
    gap: 13px;
    height: 90px;
    box-sizing: border-box;
}

input[type="color"]{
    height: 42px;
    width: 61px;
    padding: 1px;
    box-sizing: border-box;
}

.color-scheme{
    height: 42px;
    width:312px;
    padding: 9px 37px 9px 13px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border-radius:6px;
    background-color:#1F293A;
    color: #D5D4D8;
}


.options button{
    height: 42px;
    width: 123px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500p;
    background-color: #3D4B60;
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    /* box-sizing: border-box; */
}

.color-scheme-display{
    display: flex;

}

.color{
    background-color: #F55A5A;
    width: 110px;
    height: 460px;
    display:flex;
}

.color-label{
    display:flex;
    justify-content: center;
    color: #D5D4D8;
    font-family: "Inter", sans-serif;
    padding:0;
    font-size: 12px;
    width: 110px;
    margin-top: auto;
    height: 46px;
    background-color:#1f2937
}